@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;

	--color-bg-main: rgba(252, 252, 252);
	--color-bg-gold: #a78656;
	--color-bg-gold-lighten: #cfc1ac;
	/* --color-bg-gold-lighten: #d7ccba; */
	--color-bg-gold-darken: #7b6340;

	background-color: var(--color-bg-main);
}

@font-face {
	font-family: 'Balsamiq';
	src: local('Balsamiq'),
		url('./fonts/BalsamiqSans-Regular.ttf') format('opentype');
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Balsamiq', sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg-main: #213547;

		background-color: var(--color-bg-main);
	}
}

.bg-gold {
	background-color: var(--color-bg-gold);
}

.bg-gold-darken {
	background-color: var(--color-bg-gold-darken);
}

.bg-gold-lighten {
	background-color: var(--color-bg-gold-lighten);
}

.bg-gold-hover:hover {
	border-color: var(--color-bg-gold-darken);
	background-color: var(--color-bg-gold-darken);
}

.bg-transparent {
	background: transparent !important;
}

.header-item {
	@apply font-semibold text-white hover:text-gray-300;
}

.authButton {
	@apply py-3 px-4 rounded-md font-semibold tracking-tighter w-[350px] lg:w-[390px] 2xl:w-[430px] focus:outline-none;
}

.authInput {
	@apply authButton bg-gold-lighten;
}
